body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: purple;
    color: black;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: gold;
}

p {
    color: peru;
}